@using DNTCommon.Web.Core

@{
    ViewData["Title"] = "DES Provider Service";
}

<h1>@ViewData["Title"]</h1>
<pre>
    <ul>
        <li>Msg: @ViewBag.Msg</li>
        <li>EncryptedMsg: @ViewBag.EncryptedMsg1</li>
        <li>DecryptMsg: @ViewBag.DecryptMsg1</li>
    </ul>
    <ul>
        <li>Msg: @ViewBag.Msg</li>
        <li>EncryptedMsg: @ViewBag.EncryptedMsg2</li>
        <li>DecryptMsg: @ViewBag.DecryptMsg2</li>
    </ul>
    <ul>
        <li>Msg: var model = new TestModel { Id = 1, Name = "Test" };</li>
        <li>EncryptedMsg: @ViewBag.EncryptedMsg3</li>
        <li>DecryptMsg.Name: @ViewBag.DecryptMsg3</li>
    </ul>
</pre>